<div class="card">
  <div class="card-header">
    <h2 class="text-center">Sobre</h2>
  </div>
  <div class="card-body">
    <p class="card-text">
      Aplicação feita para fins de estudos sobre upload de imagens.
    </p>
    <p>
      Essa aplicação é hospedada no Heroku e como o Heroku não permite salvar imagens, foi utilizado
      o <a href="https://cloudinary.com/" target="_blank">Cloudinary</a> para armazenar as imagens.
      Para fazer o upload dos arquivos foi utilizado o
      <a href="https://github.com/carrierwaveuploader/carrierwave" target="_blank">CarrierWave</a>.
    </p>
    <p>
      Para fazer os cards da página inicial não foi possível aproveitar nenhuma solução oferecida pelo
      Bootstrap 4 Beta. Para isso, foi montado um estilo CSS, baseado nessa
      <a href="https://getflywheel.com/layout/how-to-use-flexbox-to-create-a-modern-card-design-layout/" target="_blank">página</a>,
      para que chegasse a solução desejada.
    </p>
  </div>
  <div class="card-footer text-center">
    Feito por Breno Nogueira
  </div>
</div>