<div class="centered">
  <section class="cards-photo">
    <% @photos.each do |photo| %>
        <article class="card-photo">
            <%= cl_image_tag photo.photo.card, class: 'card-img-top bb-photo-card' %>
            <div class="card-body text-center">
              <h3 class="mb-0"><%= photo.title %></h3>
            </div>
            <div class="card-footer d-flex justify-content-between">
              <a href="#" class="btn btn-default">Visualizar</a>
              <%= link_to 'Excluir',
                          photo_path(photo),
                          method: :delete,
                          data: { confirm: 'Tem certeza?'},
                          class: 'btn btn-default' %>
            </div>
        </article>
        <br>
    <% end %>
  </section>
</div>