<div class="card-deck">
  <% @photos.each do |photo| %>
      <div class="card text-center" style="width: 20rem;">
        <%= cl_image_tag photo.photo.card, class: 'card-img-top' %>
        <div class="card-body">
          <h3 class="card-title"><%= photo.title %></h3>
          <a href="#" class="btn btn-default">Visualizar</a>
          <%= link_to 'Excluir',
                      photo_path(photo),
                      method: :delete,
                      data: { confirm: 'Tem certeza?'} %>
        </div>
      </div>
      <br>
  <% end %>
</div>